<!DOCTYPE html>
<html lang="de">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>404</title>
		<!-- Bootstrap CSS -->
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'grader/errorstyle.css' %}">
	</head>

    <body>
        <div id="sql_error_container">
            <p class="code" >student=# SELECT * FROM PAGES WHERE path="{{request_path}}";</p>
            <p class="code" >     path | content
            <p class="code" >     ---------------</p>
            <p class="code" >     (0 rows)</p>
            
        </div>
        <div id="not_found_container">
            <p>Diese Seite existiert nicht!</p>
        </div>
    </body>
</html>
