/*------------------------------------*\
  #General
\*------------------------------------*/


body {
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(to right, #1286c9d3, #2986bbbd);
	margin: 0;
	padding: 0;
	min-height: 60vh;
}

.container {
	background-color: rgba(255, 255, 255, 0.938);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-width: 300px;
    max-width: 700px;
    width: 100%;
}



/*------------------------------------*\
  #autocreation_result
\*------------------------------------*/



/*------------------------------------*\
  #autocreation
\*------------------------------------*/



/*------------------------------------*\
  #exercise_overview
\*------------------------------------*/
.exercise {
    border: 2px cornflowerblue;
    display: flex;
    margin: 1em;
}

.inactive {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    color: darkgray;
}


/*------------------------------------*\
  #Login
\*------------------------------------*/

.login {
    text-align: center;
    width: 300px;
}

/*------------------------------------*\
  #Request
\*------------------------------------*/



/*------------------------------------*\
    #Result
\*------------------------------------*/

.traffic-light {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 15px;
	background-color: #97939363;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.199);
	margin-top: 10px;
	margin-bottom: 5px;
	padding: 1px;
	width: 180px;
}

.light {
	width: 30px;
	height: 30px;
	margin: 10px;
	background-color: #999;
}

.red {
	background-color: rgba(255, 0, 0, 0.733);
}

.yellow {
	background-color: rgba(255, 255, 0, 0.726);
}

.green {
	background-color: rgba(0, 128, 0, 0.651);
}

.grey {
	background-color: rgba(109, 109, 109, 0.551);
}