{% extends "./base.html" %}
{% load i18n %}
{% block content %}

        <div class="container">
            <div class="d-flex justify-content-center">
                <img src="https://git.rwth-aachen.de/i5/teaching/dbis-raw/-/raw/main/dbis-logo.png" width="500"/>
            </div>
                
            <div class="container-content">
                <h2>{% translate "Autocreation\Bearbeiten von der Übung" %} {{ exercise_identifier }}</h2>

                <div class="form-row-last">
                    <form enctype="multipart/form-data" action="/grader/autocreation" method="post">
                        {% csrf_token %}
                        {{ form }}
                        <input type="submit" value="Submit">
                    </form>
                </div>
                <p class="text-center"><b> {% translate "^* Eine bestehende Übung kann bearbeitet werden, wenn der Name der Übung als Identifier angegeben wird." %}</b></p>
            </div>
        </div>

{% endblock %}
