<!--	This shows the student all available exercise. 
		It should be communicated to students which 
		exercises are not currently activated for grading,
		e.g. through deactivated links          		-->
{% extends "./base.html" %}
{% load i18n %}
{% block content %}

    <div class="container">
        <div class="rwth-logo d-flex justify-content-center">
            <a href="https://dbis.rwth-aachen.de/dbis/">
                <img src="https://git.rwth-aachen.de/i5/teaching/dbis-raw/-/raw/main/dbis-logo.png" width="500"/>
            </a>
        </div>

        <div class="container-content">
            {% load static %}
            <h2>{% translate "Übungen"%}</h2>
            {% for ex in exercises %}
                <ul>
                    <a href="{{ ex.identifier }}">
                        <div class="exercise {% if ex.active %} active {% else %} inactive {% endif %}">
                            <li>{{ ex.identifier }}</li>
                        </div>
                    </a>
                </ul>
            {% endfor %}
        
            <div class="alert alert-warning" role="alert">
                <p><b>{% translate "Haftungsausschluss" %}:</b></p>
                <p>{% blocktrans %}Bitte beachten Sie, dass der bereitgestellte Dienst sich derzeit in der Beta-Phase befindet und die Richtigkeit des Ergebnisses nicht garantiert. Ein positives Feedback GARANTIERT NICHT das Bestehen der Übung.{% endblocktrans %}</p>

                <p class="text-center"><b> {% translate "Eine Einreichung in den Ampel-Grader ersetzt <u>KEINE</u> Einreichung in Moodle!" %}</b></p>
            </div>
        
        </div>
    </div>

{% endblock %}

