{% extends "./base.html" %}
{% load i18n %}
{% load static %}
{% block content %}
        <div class="container">
            <div class="d-flex justify-content-center">
                <a href="/grader/request/">
                    <img src="https://git.rwth-aachen.de/i5/teaching/dbis-raw/-/raw/main/dbis-logo.png" width="500"/>
                </a>
            </div>
            
            <div class="alert alert-secondary" role="alert" style="margin-top: 100px; margin-bottom: 100px;">
               <div class="lead text-center"> {{ error }}</div>
            </div>

            <div class="text-center" style="margin-top: 20px; margin-bottom: 20px;"> 
                <button onclick="location.href='/grader/request/'" class="btn btn-primary">{% translate "Zurück" %}</button>
           </div>
        </div>

{% endblock %}  