{% extends "./base.html" %}
{% load i18n %}
{% load static %}
{% block content %}

        <div class="container">
            <div class="rwth-logo d-flex justify-content-center">
                <a href="/grader/request/">
                    <img src="https://git.rwth-aachen.de/i5/teaching/dbis-raw/-/raw/main/dbis-logo.png" width="500"/>
                </a>
            </div>
            
            <div class="container-content">
                <h2>{% translate "Bewertung erfolgreich angefordert!" %}</h2>
                <p>{% translate "Wenn das Grading abgeschlossen ist, werden Sie automatisch weitergeleitet." %}</p>
                <div class="loader-container">
                    <div class="loader"></div>
                </div>
                <p>{% translate "Ihre Prozess-ID lautet: "%}</p>
                <div class="alert alert-dark text-center" role="alert">
                    <a href="{%url 'grading_results' id%}">{{id}}</a>
                </div>
            </div>
            <div class="text-center" style="margin-bottom: 20px;"> 
                <button onclick="location.href='/grader/request/'" class="btn btn-primary">{% translate "Zurück" %}</button>
            </div>
        </div>
        <script>window.processId = "{{ id }}";</script>
        <script src="{% static 'grader/js/loader.js' %}"></script>
{% endblock %}
