{% extends "./base.html" %}
{% load i18n %}
{% block content %}

        <div class="container">
            <div class="rwth-logo d-flex justify-content-center">
                <a href="/grader/request/">
                    <img src="https://git.rwth-aachen.de/i5/teaching/dbis-raw/-/raw/main/dbis-logo.png" width="500"/>
                </a>
            </div>
            
            <div class="container-content">
                <h2>{% translate "Bewertung erfolgreich angefordert!" %}</h2>
                <p>{% translate "Sie werden von uns hören. Ihre Prozess-ID lautet: "%}</p>
                <div class="alert alert-dark text-center" role="alert">
                    <a href="{%url 'grading_results' id%}">{{id}}</a>
                </div>
            </div>

            <div class="text-center" style="margin-top: 20px; margin-bottom: 20px;"> 
                <button onclick="location.href='/grader/request/'" class="btn btn-primary">{% translate "Zurück" %}</button>
            </div>
        </div>

{% endblock %}
